@{
    ViewData["Title"] = "Home Page";
}

    <div>
        @Html.ActionLink(
                "Download PDF",
                "Privacy",
                "Home",
            new { @class = "btn btn-info" })
    </div>
